<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="C:/Users/ussr1/Desktop/review/statics/stylesheet">
	<title>hotel</title>

</head>
<body>

  <h1>Result</h1> 
<span id="result1"></span>
<script type="text/javascript">
	document.getElementById("result1").innerHTML=localStorage.getItem("textvalue");
</script>
<h2>{{results1}}</h2>

</body>
</html>